@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap");
* {
  margin: 0;
  font-family: "Sansita Swashed", cursive;
}

header {
  background-color: rgb(255, 187, 0);
  height: 4rem;
  text-align: center;
  font-size: 2rem;
}

header > h3 {
  padding: 0.25em;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 1.2rem;
}

.container > button {
  padding: 1em;
  margin: 0.5em;
  background-color: rgb(255, 187, 0);
  cursor: pointer;
}

#banana-text {
  height: 20rem;
  width: 20em;
  border: 2px solid rgb(255, 187, 0);
  margin: 0.5em;
}

footer {
  background-color: rgb(255, 187, 0);
  height: 4rem;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.2em;
}
